@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-full bg-gray-300 dark:bg-gray-900
}

.contact-button {
    @apply bg-blue-500 hover:bg-blue-600 hover:shadow-md uppercase text-white font-bold shadow
    text-xs px-4 py-2 rounded outline-none mb-1 ease-linear transition-all duration-150
    focus:outline-none sm:mr-2
}

.timeline {
    @apply antialiased mt-4 relative text-left grid grid-cols-1 md:grid-cols-2
}

.timeline:before {
    @apply absolute bg-blue-gray w-1.25 m-auto -inset-0 dark:bg-gray-800;
    content: "";
}

.timeline-grid {
    @apply relative mt-8
}

.timeline-grid-right {
    @apply md:mt-20 flex flex-row-reverse
}

.timeline-card {
    @apply bg-white w-10/12 float-left shadow-md rounded-lg px-6 py-4 dark:bg-gray-800
}

.timeline-description {
    @apply leading-normal text-sm text-gray-600 dark:text-gray-400
}

.timeline-cancelled {
    @apply border-l-4 border-red-400
}

.timeline-post {
    @apply relative
}

.timeline-before {
    @apply bg-blue-gray absolute w-full right-0 h-1 -z-1 top-15 hidden md:block dark:bg-gray-800;
    content: "";
}

.timeline-post-marker {
    @apply w-4 h-4 rounded-3xl top-14 -right-2 box-border absolute bg-blue-gray hidden border-3 border-solid border-light-blue md:block dark:bg-gray-800 dark:border-gray-700;
}

.timeline-date {
    @apply py-1 text-xs font-bold leading-none text-gray-300 dark:text-gray-600
}

.timeline-title {
    @apply mb-3 text-lg font-semibold tracking-tight text-gray-600 dark:text-gray-300
}

.v-leave {
    @apply transition-transform duration-200 transform rotate-180
}

.v-leave-active {
    @apply transition-transform duration-200 transform rotate-180
}

.v-leave-to {
    @apply transition-transform duration-200 transform rotate-180
}

.v-enter {
    @apply transition-transform duration-200 transform -rotate-90
}

.v-enter-active {
    @apply transition-transform duration-200 transform -rotate-45
}

.v-enter-to {
    @apply transition-transform duration-200 transform rotate-0
}
